$zindex-dropdown:222;
$dropdown-min-width:7rem;
$dropdown-padding-y:0.3rem;
$dropdown-padding-x:0.5rem;
$dropdown-bg:white;
$dropdown-border-width:1px;
$dropdown-border-color:rgb(254, 254, 254);
.dropdownContainer{
    position: relative;
    .dropdown-btn{
        position: relative;
    }
    .dropdown-btn::after{
        content: "";
        position: absolute;
        top: 50%;
        right: -10px;
        border-width:4px;
        border-color:white transparent transparent  transparent;
        border-style: solid;
    }
}
.dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: $dropdown-min-width;
    padding:$dropdown-padding-x $dropdown-padding-y;
    margin: .5rem; // override default ul
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $dropdown-border-width solid $dropdown-border-color;
    &.active{
        display: block;
    }
    .dropdown-item{
        padding: 0.1rem .4rem;
        margin-bottom: .3rem;
        a{
            color: black;
        }
    }
}
.dropdown::after{
    content: "";
    position: absolute;
    top: -14.8px;
    right:0px;
    border-width:8px;
    border-color: transparent transparent white transparent;
    border-style: solid;
}